<div>
    <h3>Calculadora de Fatorial</h3>

    <div>
        <label for="numero">Digite um número inteiro:</label>
        <input type="number" id="numero" @bind="numero" />
    </div>

    <div>
        <button @onclick="() => resultadoFatorial = CalcularFatorial(numero)">Calcular Fatorial</button>
    </div>

    @if (resultadoFatorial > 0)
    {
        <div>
            <h3>O fatorial de @numero é @resultadoFatorial</h3>
        </div>
    }
</div>

@code {
    double CalcularFatorial(double numero)
    {
        if (numero == 0)
            return 1;

        double resultado = 1;
        for (double i = 1; i <= numero; i++)
        {
            resultado *= i;
        }
        return resultado;
    }

    double numero = 0;
    double resultadoFatorial = 0;
}
